@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-color-light: #f0f0f0;
  --text-color-dark: #333;
  --bg-dark: #1a1a1a;
  --menu-bg-dark: #222;
  --link-hover-color: #aaa;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Playfair Display", serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-section {
  animation: fadeInUp 0.8s ease-out;
}

.scroll-down {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.scroll-down a {
  color: #ffffff;
  font-size: 28px;
  animation: floatY 1.5s ease-in-out infinite;
  transition: color 0.3s;
  display: inline-block;
}

/* Corrigido: apenas anima o eixo Y */
@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-light);
  background: linear-gradient(135deg, #000000 55%, #270131 100%, #000000);
  line-height: 1.6;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section,
.hero-section {
  padding: 60px 20px;
}

.menu-toggle {
  display: none;
}

h1,
h2,
h3 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  background: none;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.logo a {
  color: var(--text-color-light);
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  font-family: var(--secondary-font);
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  border-radius: 50%; /* garante o formato circular */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: transform 0.2s ease, background-color 0.3s;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  background-color: #1ebe5d;
}

.nav-links .main-menu {
  list-style: none;
  display: flex;
}

.nav-links .main-menu li {
  margin-left: 30px;
  position: relative;
}

.nav-links .main-menu a {
  color: var(--text-color-light);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links .main-menu a:hover,
.nav-links .main-menu a.dropbtn:focus {
  color: #6138e0;
}

.download-cv {
  padding: 5px;
  color: #2f013a;
  background-color: transparent;
}

.download-cv::after {
  color: #a11cc2;
}

.dropdown,
a,
li {
  font-family: var(--font-body);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--menu-bg-dark);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  left: 0;
  padding: 10px 0;
  border-radius: 5px;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdown-content a {
  color: var(--text-color-light);
  font-family: var(--font-body);
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: var(--bg-dark);
  color: var(--link-hover-color);
  font-family: var(--font-body);
}

.dropdown:hover .dropdown-content,
.dropdown.active .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.social-icons a {
  color: white;
  margin-left: 15px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #6138e0;
}

.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(835deg, #000000 55%, #4a015c);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 2;
  position: relative;
}

.hero-photo {
  width: 220px;
  height: 220px;
  background-color: #4a015c;
  border-radius: 60% 40% 50% 50% / 55% 45% 55% 45%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.hero-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-content {
  z-index: 1;
  color: var(--text-color-light);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-content h1 {
  font-family: var(--font-body);
  font-size: 7em;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  border-right: 0.15em solid white;
  animation: blink-caret 0.75s step-end infinite;
}

.hero-content p {
  font-family: var(--primary-font);
  font-style: bold;
  font-size: 1.5vw;
  font-style: bold;
  letter-spacing: 0.5em;
  font-weight: 300;
  text-align: start;
  opacity: 0;
  animation: fadeIn 0.7s forwards;
  animation-delay: 1s;
}

.hero-content span {
  font-family: var(--font-body);
  background: linear-gradient(90deg, #a459ff, #4a015c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px #000000;
  background: linear-gradient(90deg, #9f00ff, #a349ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero-content a {
  text-decoration: none;
  border: 1px solid #4a015c;
  background-color: transparent;
  padding: 15px;
  margin-top: 45px;
  border-radius: 8px;
  align-self: flex-start;
}

.hero-content .a2 {
  text-decoration: none;
  border: 1px solid #4a015c;
  background-color: #4a015c;
  color: white;
  padding: 15px;
  margin-top: 45px;
  border-radius: 8px;
  align-self: flex-start;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 45px;
}

.hero-content a:hover {
  background-color: #4a015c;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project-gallery a {
  position: relative;
  display: block;
  overflow: hidden;
}

.project-gallery a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 0, 34, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.project-gallery a button {
  position: absolute;
  font-family: var(--font-body);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9513b6;
  color: #ffffff;
  border: 1px solid #800080;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 2;
  font-weight: bold;
  white-space: nowrap;
}

.project-gallery a:hover::before {
  opacity: 1;
}

.project-gallery a:hover button {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.star-icon {
  color: #c8ad11;
  font-size: 2rem;
}

.about-section {
  background-color: transparent;
  color: var(--text-color-light);
  padding-bottom: 80px;
  max-width: 1200px;
  margin: 60px auto;
  box-shadow: 0 10px 30px var(--shadow-color);
  line-height: 1.8;
  animation: fadeIn 1s ease-out;
  border-bottom: 1px solid white;
}

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
}

.about-container a {
  text-decoration: none;
  border: 1px solid #4a015c;
  background: transparent;
  border-radius: 5px;
  padding: 15px;
}

.about-image {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.about-text {
  flex: 1;
  font-size: 0.9rem;
  line-height: 1.7;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text a {
  margin-top: 20px;
  text-decoration: none;
  border: 1px solid #a459ff;
  background: transparent;
  border-radius: 5px;
  color: #a459ff;
  transition: all 0.3s ease;
  display: flex;
  flex: 1;
  align-self: center;
}

.about-text a:hover {
  background-color: #250152;
  color: #fff;
}

.about-buttons {
  display: flex;
  gap: 16px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-buttons a {
  font-size: 14px;
  gap: 16px;
  background-color: transparent;
  border: 1px solid #4b0a80;
  color: #9d4edd;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s;
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.about-buttons a:hover {
  background-color: #33045b;
  color: white;
}

.about-experience {
  background: linear-gradient(135deg, #000000 35%, #4a015c 100%, #000000);
  color: var(--text-color-light);
  padding: 80px 40px;
  max-width: 1200px;
  margin: 60px auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px var(--shadow-color);
  text-align: center;
  line-height: 1.6;
  animation: fadeIn 1s ease-out;
}

.about-experience h2 {
  font-family: var(--font-body);
  font-size: 3.2em;
  color: #a259ff;
  margin-bottom: 40px;
  position: relative;
}

.about-experience h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: #a259ff;
  margin: 15px auto 0;
  border-radius: 2px;
}

.experience-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  text-align: left;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.experience-item:last-child {
  margin-bottom: 0;
}

.experience-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  flex-shrink: 0;
  background-color: #fff;
  padding: 5px;
}

.experience-details {
  flex-grow: 1;
}

.experience-details h3 {
  font-family: var(--font-body);
  font-size: 1.8em;
  color: var(--text-color-light);
  margin-bottom: 5px;
}

.experience-details p {
  font-family: var(--font-body);
  font-size: 1em;
  color: #bbb;
}

.about-section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3.2em;
  color: var(--primary-color);
  margin-bottom: 40px;
  position: relative;
}

.about-section h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 15px auto 0;
  border-radius: 2px;
}

.about-section p {
  font-family: var(--font-body);
  font-size: 1.15em;
  margin-bottom: 25px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form-container {
  background-color: transparent;
  padding: 60px 20px;
  border-radius: 8px;
  max-width: 1200px;
  text-align: center;
  animation: fadeIn 1s ease-out;
  margin: 50px auto;
  display: block;
}

.contact-form-container h2 {
  font-family: var(--font-heading);
  margin-bottom: 40px;
  color: var(--primary-color);
  font-size: 2.8em;
  position: relative;
  padding-bottom: 10px;
}

.contact-form-container h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 15px auto 0;
  border-radius: 2px;
}

.social-bubbles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 30px;
  max-width: 1200px;
  margin: 50px auto;
}

.social-bubble-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
}

.social-bubble-wrapper a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  font-family: var(--font-body);
  font-size: 3.2em;
  color: #a259ff;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  animation: fadeIn 1s ease-out;
}

.section-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: #a259ff;
  margin: 15px auto 0;
  border-radius: 2px;
}

.SobreH2 {
  font-family: var(--font-body);
  font-size: 3.2em;
  color: var(--primary-color);
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}

.SobreH2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 15px auto 0;
  border-radius: 2px;
}

.social-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #222;
  color: #a855f7;
  font-size: 2em;
  margin-bottom: 12px;
  animation: fadeIn 1s ease-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bubble-title {
  font-weight: bold;
  color: #fff;
  margin-bottom: 4px;
  animation: fadeIn 1s ease-out;
  transform: translateY(-8px) scale(1.05);
}

.bubble-text {
  font-size: 0.9rem;
  color: #999;
  animation: fadeIn 1s ease-out;
}

.social-bubble:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.social-bubble.whatsapp {
  color: #b400e0;
}
.social-bubble.whatsapp:hover {
  background-color: #1da851;
  color: white;
}

.social-bubble.instagram {
  color: #b400e0;
}
.social-bubble.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #fff;
  transform: translateY(-5px) scale(1.05);
}

.social-bubble.linkedin {
  color: #b400e0;
}
.social-bubble.linkedin:hover {
  background-color: #005a8f;
  color: white;
}

.social-bubble.github {
  color: #b400e0;
}
.social-bubble.github:hover {
  background-color: #000;
  color: white;
}

@media screen and (max-width: 900px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 20px;
  }

  .hero-content {
    align-items: center;
  }

  .main-menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .main-menu li {
    margin-left: 10px;
    margin-right: 10px;
  }

  .social-icons {
    margin-top: 10px;
  }

  .mobile-break {
    display: inline;
  }
}

@media (max-width: 600px) {
  .contact-form-container {
    padding: 40px 15px;
    max-width: 95%;
  }

  .contact-form-container h2 {
    font-size: 2.2em;
    margin-bottom: 30px;
  }

  .social-bubbles-container {
    gap: 20px;
  }

  .social-bubble {
    width: 90px;
    height: 90px;
    font-size: 2.2em;
  }

  .hero-content {
    align-items: center;
  }
}

@media (max-width: 400px) {
  .social-bubble {
    width: 80px;
    height: 80px;
    font-size: 2em;
  }

  .hero-content {
    align-items: center;
  }
}

:root {
  --text-color-light: #f0f0f0;
  --text-color-dark: #333;
  --bg-dark-section: #1a1a1a;
  --primary-color: #007bff;
  --font-heading: "Playfair Display", serif;
  --font-body: "Montserrat", sans-serif;
}

.sidebar-widget {
  background: linear-gradient(135deg, #000000 35%, #4a015c 100%, #000000);
  color: var(--text-color-light);
  padding: 40px;
  margin: 60px auto;
  max-width: 1200px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
  animation: fadeIn 1s ease-out;
}

.sidebar-widget h4 {
  font-family: var(--font-body);
  font-size: 2.5em;
  color: #a259ff;
  margin-bottom: 30px;
  position: relative;
}

.sidebar-widget h4::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #a259ff;
  margin: 10px auto 0;
  border-radius: 2px;
}

.sidebar-widget > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.sidebar-widget > div a {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-widget > div a:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.sidebar-widget img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.sidebar-widget a:hover img {
  transform: scale(1.1);
}

.tech-icons {
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tech-icons i,
.tech-icons span {
  margin-right: 0px;
  color: white;
  font-size: 1.5rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  height: 60vh;
  padding: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.modal-content img {
  width: 450px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-description {
  flex: 1;
}

.modal-description h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: white;
}

.modal-description p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.recommendations-section {
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  animation: fadeIn 1s ease-out;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 2rem;
  color: #ccc;
  margin-bottom: 30px;
}

.recommendations-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1200px;

  margin: auto;
}

.recommendation-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background: linear-gradient(135deg, #000000 35%, #4a015c 100%, #000000);
  box-shadow: #fff 0 10px 30px rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.recommendation-content {
  text-align: left;
}

.recommendation-content h3 {
  margin: 0;
  font-size: 1.2rem;
}

.role {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 8px;
}

.stars {
  color: #ff4c4c;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.text {
  font-size: 1rem;
  color: #eee;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-break {
  display: none;
}

@media (max-width: 600px) {
  .contact-form-container {
    padding: 30px 20px;
  }

  .contact-form-container h2 {
    font-size: 2em;
  }

  .form-row {
    flex-direction: column;
    gap: 15px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .contact-form button {
    width: 100%;
    min-width: unset;
  }

  .hero-content {
    align-items: center;
  }
}

.form-section-wrapper {
  min-height: calc(100vh - 80px - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-form-container {
  background: linear-gradient(135deg, #000000 35%, #4a015c 100%, #000000);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 600px;
  text-align: center;
  animation: fadeIn 1s ease-out;
}

.responsibilities-list ul,
li {
  font-family: var(--font-body);
}

.strong2 strong {
  font-family: var(--font-body);
  font-size: 26px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: none;
  backdrop-filter: blur(5px);
  font-size: 14px;
}

.footer-links a {
  color: var(--text-color-light);
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.footer-links a:last-child {
  margin-right: 0;
}

.footer-links a:hover {
  color: var(--link-hover-color);
}

.copyright p {
  font-family: var(--font-body);
  color: var(--text-color-light);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .menu-toggle {
    display: block;
    font-size: 24px;
    margin-left: auto;
    cursor: pointer;
  }

  .social-icons {
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .nav-links.active {
    display: block;
  }

  .main-menu {
    flex-direction: column;
    margin-top: 10px;
    padding-left: 0;
  }

  .main-menu li {
    margin: 10px 0;
  }

  .hero-section {
    padding-top: 100px;
  }

  .mobile-break {
    display: inline;
  }

  .hero-content h1 {
    font-size: 3.5rem;
    text-align: center;
    white-space: normal;
  }

  .hero-content {
    align-items: center;
  }

  .footer {
    display: none;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-image {
    width: 90%;
    max-width: 300px;
  }

  .about-text {
    padding: 0 15px;
    font-size: 1rem;
    text-align: center;
  }

  .about-buttons {
    flex-direction: column;
  }

  .about-buttons a {
    width: 100%;
    max-width: 250px;
  }

  .section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .modal-box {
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
  }

  .modal-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .modal-description {
    text-align: center;
  }

  .close {
    top: 10px;
    right: 15px;
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .experience-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .experience-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .experience-details {
    text-align: center;
  }

  .hero-content h1 {
    font-size: 15vw;
  }

  .hero-content p {
    font-size: 5vw;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .footer {
    font-size: 12px;
  }

  .modal-box {
    width: 100%;
    padding: 15px;
    border-radius: 0;
    max-height: 90vh;
    overflow-y: auto;
  }

  .modal-content {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .modal-description {
    text-align: center;
    font-size: 0.95rem;
  }

  .modal-buttons {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }

  .close {
    top: 10px;
    right: 15px;
    font-size: 24px;
  }
}

.modal-buttons {
  margin-top: 20px;
  text-align: center;
}

.modal-buttons a {
  display: inline-block;
  background-color: #6419b0;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.modal-buttons a:hover {
  background-color: #50148c;
}
.modal-buttons a i {
  margin-right: 8px;
}

.about-containerServicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 30px;
}

.meImage {
  width: 380px;
  max-width: 100%;
  border-radius: 10px;
  flex-shrink: 0;
  object-fit: cover;
}

.services-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  flex: 1;
  min-width: 250px;
}

.service {
  background-color: #1b0e2b;
  padding: 15px;
  color: #fff;
  box-shadow: 0 0 10px rgba(157, 78, 221, 0.2);
  transition: transform 0.3s ease;
  border-radius: 8px;
  min-height: 220px;
}

.service:hover {
  transform: translateY(-5px);
}

.service i {
  font-size: 30px;
  color: #9d4edd;
  margin-bottom: 10px;
}

.service h3 {
  margin-bottom: 8px;
  font-size: 20px;
  color: #e0b3ff;
}

.image-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-buttons .btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 18px;
  font-size: 0.95rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 400;
  border: 1px solid #480b58;
  background-color: transparent;
  color: white;
  transition: background-color 0.3s ease;
}

.insta-btn:hover {
  background-color: #2f013a;
}

.btn-mobile-only {
  display: none;
}

/* Mostra apenas em telas menores que 768px */
@media screen and (max-width: 768px) {
  .btn-mobile-only {
    display: inline-block; /* ou flex, dependendo do layout */
  }
}
